* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 400px;
  margin: auto;
}

.App h1 {
  margin: 1rem 0;
  font-size: 1.75rem;
  color: #292F33;
}

.App ul {
  list-style-type: none;
}

.App li input {
  width: 100%;
  padding: .25rem;
  margin: .25rem 0 .75rem;
}

.App p {
  margin-bottom: .75rem;
}

